---
layout: default
---
<div class="overlay"></div>

<div class="masthead">
  <div class="masthead-bg"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="masthead-content text-white py-5 py-md-0">
          <h1 class="mb-3">Coming Soon!</h1>
          <p class="mb-5">We're working hard to bring you a new Charles & Gamon!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="icons">
  <ul class="list-unstyled text-center mb-0">
    <li class="list-unstyled-item">
      <a href="https://www.instagram.com/charlesandgamon">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="list-unstyled-item">
      <a href="mailto:info@charlesandgamon.com">
        <i class="fas fa-at"></i>
      </a>
    </li>
  </ul>
</div>